##
## DynamicMTML generated this part; don't remove this line! ##
## <version>2.18</version>
## <bootstrapper>.mtview.php</bootstrapper>

Options -Indexes
DirectoryIndex /.mtview.php
<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f [OR]
  RewriteCond %{REQUEST_FILENAME} -d [OR]
#  RewriteCond %{REQUEST_FILENAME} !/mt-static/html/editor-content\.html$ [NC]
#  RewriteCond %{REQUEST_FILENAME} !/mt-static/html/blank\.html$ [NC]
  RewriteCond %{REQUEST_FILENAME} ^[^.]+$|\.(html|mtml|HTML|MTML)$ [NC]
  RewriteRule ^ /.mtview.php [L]
</IfModule>
<IfModule !mod_rewrite.c>
  <IfVersion >= 2.3>
    Require all denied
  </IfVersion>
  <IfVersion < 2.3>
    Order Deny,Allow
    Deny from all
  </IfVersion>
<FilesMatch (^(|[^.]+)|.mtview.php)$>
  <IfVersion >= 2.3>
    Require all granted
  </IfVersion>
  <IfVersion < 2.3>
    Allow from all
  </IfVersion>
</FilesMatch>
  ErrorDocument 403 /.mtview.php
  ErrorDocument 404 /.mtview.php
</IfModule>
php_flag short_open_tag off
## DynamicMTML generated this part; don't remove this line! /DynamicMTML ##


